*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/cuphead_data_*/src/main/assets/*
!/cuphead_data_*/src/main/assets/.gitkeep
/cuphead_data_*/build
/captures
.externalNativeBuild
